* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(79, 115, 142);
}

.nav-main {
  background:rgb(79, 115, 142)
}
.nav-item {
  color: white;
}

/* media query for smaller desktops*/

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
  }
  header nav ul li a {
    font-size: 20px;
  }
  .h2 {
    font-size: 36px;
    width: 25%;
  }
  .projects {
    width: 75%;
  }
  .headshot {
    height: 150px;
    width: 100px;
  }
  .about_me__content p {
    font-size: 12px;
  }
  .projects__img__highlighted {
    width: 680px;
    height: 200px;
  }
  .projects__img {
    width: 210px;
    height: 200px;
  }
  .container-box {
    align-items: center;
  }
}

/* media query for tablets and smaller*/
@media screen and (max-width: 768px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
  }
  header nav ul li a {
    font-size: 30px;
    flex-wrap: wrap;
  }
  .section-box {
    width: 100%;
  }
  .headshot {
    height: 100px;
    width: 75px;
  }
  .about_me__content {
    flex-wrap: wrap;
    align-items: center;
  }
  .projects__img__highlighted {
    width: 550px;
    height: 300px;
  }
  .projects {
    width: 75%;
  }
  .projects__img {
    width: 175px;
    height: 200px;
  }
}

/* media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
  .container-box {
    padding-bottom: 0;
    justify-content: center;
    width: 100%;
  }
  .aboutme {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  .aboutme p {
    font-size: 12pt;
  }
  .aboutme img {
    width: 40px;
    height: 60px;
  }
  .aboutme div {
    width: 100%;
    align-content: center;
    text-align: center;
  }
}
/*end media queries*/

body 

/* Navigation */
header {
  padding: 20px 30px;
  background-color: rgba(33, 71, 97, 0.8);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

h1 {
  font-size: 48pt;
  color: whitesmoke;
}

header a {
  text-decoration: none;
  color: whitesmoke;
  border-right: whitesmoke solid 1px;
}

header a:hover {
  color: lightslategrey;
}
header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 20pt;
}
/*end Navigation*/

/* container to hold all three sections */
.container-box {
  display: flex;
  flex-flow: column;
  margin: 2% 5% 2% 5%;
}
/* About Me */
/* headshot */
.headshot {
  height: auto;
  width: 15vw;
  margin-right: 3%;
  align-self: center;
  box-shadow: 2px 2px 5px darkslategray;
  border-top-left-radius: 10px 20px;
  border-top-right-radius: 10px 20px;
  border-bottom-left-radius: 10px 20px;
  border-bottom-right-radius: 10px 20px;
}
img:hover {
  opacity: 0.7;
}
.about1 {
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  margin: 3%;
}

.about_me__content p {
  margin: 3%;
  text-align: center;
}

.about_me__content {
  width: 75%;
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/* My Work Section */

.projects {
  flex-basis: 75%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.projects a {
  display: flex;
  margin: 1%;
  justify-content: space-between;
  box-shadow: 3px 5px 3px darkslategray;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}
.projects a:hover {
  opacity: 0.7;
}
.projects__img__highlighted {
  background-size: cover;
  display: flex;
  height: 300px;
  width: 500px;
  flex: 1 1 70%;
  justify-content: center;
  align-items: flex-end;
}

.projects__img {
  height: 200px;
  width: 200px;
  display: inline-flex;
  background-size: cover;
  flex: 2 1 30%;
  align-items: flex-end;
  justify-content: center;
}
.project-titles {
  align-items: flex-end;
  justify-content: flex-end;
  color: whitesmoke;
  background-color: rgba(47, 79, 79, 0.6);
  text-decoration: none;
  font-size: 16pt;
  background-image: cover;
  margin: 5%;
  border-radius: 40px;
  padding: 5px;
}
.project-titles:hover {
  background-color: darkslategray;
  opacity: 1;
}

.contact {
  width: 75%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5%;
  flex-direction: row;
}

.contact a {
  color: darkslategray;
  font-size: 16pt;
  flex: auto;
  display: inline-flex;
  margin-bottom: 3%;
  text-decoration: none;
}
.contact a:hover {
  color: lightslategrey;
}
:root {
  --primary: slategray;
  --secondary: orange;
  --tertiary: #yellow;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;


}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--light);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;

}

p {
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
}

header {
  background: slategray;
  padding: 35px 0;
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  margin: 0 1px;
  background-color: var(--blue);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
  
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}


.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}


button {
	background: var(--blue);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--dark);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--blue);
}

#headshot {
  border-radius: 50%;
  width: 18%;
  margin: 25px 0;
}

.contact-me {
  font-size: 30px;
}


.main-name {
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
}

.nav-main{
 padding: 15px 0;

}

footer p {
  padding: 10px 0;
  margin-bottom: 15px;

}